## Input values
#set($locationId = $input.params('geohash'))
#set($category = $input.params('category'))
#set($maxRent = $input.params('max_rent'))
#set($minWidth = $input.params('min_width'))
#set($minHeight = $input.params('min_height'))
#set($minDepth = $input.params('min_depth'))
#set($isShared = $input.params('is_shared'))
#set($fromDate = $input.params('from_date'))
#set($toDate = $input.params('to_date'))

## Escape values
#set($locationId = $util.escapeJavaScript($locationId))
#set($category = $util.escapeJavaScript($category))
#set($maxRent = $util.escapeJavaScript($maxRent))
#set($minWidth = $util.escapeJavaScript($minWidth))
#set($minHeight = $util.escapeJavaScript($minHeight))
#set($minDepth = $util.escapeJavaScript($minDepth))
#set($isShared = $util.escapeJavaScript($isShared))
#set($fromDate = $util.escapeJavaScript($fromDate))
#set($toDate = $util.escapeJavaScript($toDate))

## Set default values
#set($category = "#if($category.empty)BOX#{else}$category#end")
#set($maxRent = "#if($maxRent.empty)9999#{else}$maxRent#end")
#set($minWidth = "#if($minWidth.empty)0#{else}$minWidth#end")
#set($minHeight = "#if($minHeight.empty)0#{else}$minHeight#end")
#set($minDepth = "#if($minDepth.empty)0#{else}$minDepth#end")

## Search filters
#set($categoryFilter = "category = :category")
#set($maxRentFilter = "and rent <= :maxRent")
#set($minWidthFilter = "and (width >= :minWidth or #depth >= :minWidth)")
#set($minHeightFilter = "and height >= :minHeight")
#set($minDepthFilter = "and (#depth >= :minDepth or width >= :minDepth)")
#set($isSharedFilter = "#if($isShared)and isShared = :isShared#end")
#set($fromDateFilter = "#if($fromDate)and availability.#from <= :fromDate#end")
#set($toDateFilter = "#if($toDate)and availability.#to >= :toDate#end")

{

    "TableName": "ListingsTable",
    "IndexName": "ListingCategoryIndex",

    "KeyConditionExpression": "$categoryFilter $maxRentFilter",

    "FilterExpression": "locationId = :locationId $minWidthFilter $minHeightFilter $minDepthFilter $isSharedFilter $fromDateFilter $toDateFilter",

    "ExpressionAttributeValues": {

        ":locationId": {
            "S": "$locationId"
        },
        ":category": {
            "S": "$category"
        },
        ":maxRent": {
            "N": "$maxRent"
        }

        #if(!$minWidth.empty)
        ,":minWidth": {
            "N": "$minWidth"
        }
        #end

        #if(!$minHeight.empty)
        ,":minHeight": {
            "N": "$minHeight"
        }
        #end

        #if(!$minDepth.empty)
        ,":minDepth": {
            "N": "$minDepth"
        }
        #end

        #if(!$isShared.empty)
        ,":isShared": {
            "BOOL": "$isShared"
        }
        #end

        #if($fromDate)
        ,":fromDate": {
            "S": "$fromDate"
        }
        #end
        #if($toDate)
        ,":toDate": {
            "S": "$toDate"
        }
        #end

    },

    ## This mapping is required since 'depth', 'to', and 'from' are reserved keywords
    "ExpressionAttributeNames": {
        "#depth": "depth"
        #if($toDate)
        ,"#to": "to"
        #end
        #if($fromDate)
        ,"#from": "from"
        #end
    },

    "Limit": 1000

}
