#set($root = $input.path('$'))
{
    "listings": [
        #foreach($i in $root.Items)
        {
            "listingId": "$i.listingId.S",
            "locationId": "$i.locationId.S",
            "category": "$i.category.S",
            "rent": $i.rent.N,
            "address": "$i.address.S",
            "position": {
                "latitude": $i.position.M.latitude.N,
                "longitude": $i.position.M.longitude.N
            },
            "width": $i.width.N,
            "height": $i.height.N,
            "depth": $i.depth.N,
            "isNegotiable": $i.isNegotiable.BOOL,
            "isShared": $i.isShared.BOOL,
            "photos": #if(!$i.photos)[]#{else}$i.photos.SS#end
        }#if($foreach.hasNext),#end
        #end
    ]
}