## Input values
#set($locationId = $input.params('geohash'))
#set($category = $input.params('category'))
#set($maxRent = $input.params('max_rent'))
#set($minWidth = $input.params('min_width'))
#set($minHeight = $input.params('min_height'))
#set($minDepth = $input.params('min_depth'))
#set($isShared = $input.params('is_shared'))
#set($fromDate = $input.params('from_date'))
#set($toDate = $input.params('to_date'))

## Escape values
#set($locationId = $util.escapeJavaScript($locationId))
#set($category = $util.escapeJavaScript($category))
#set($maxRent = $util.escapeJavaScript($maxRent))
#set($minWidth = $util.escapeJavaScript($minWidth))
#set($minHeight = $util.escapeJavaScript($minHeight))
#set($minDepth = $util.escapeJavaScript($minDepth))
#set($isShared = $util.escapeJavaScript($isShared))
#set($fromDate = $util.escapeJavaScript($fromDate))
#set($toDate = $util.escapeJavaScript($toDate))

## Set default values
#set($category = "#if($category.empty)BOX#{else}$category#end")
#set($maxRent = "#if($maxRent.empty)9999#{else}$maxRent#end")
#set($toDate = "#if($toDate.empty)9999-99-99#{else}$toDate#end")
#set($fromDate = "#if($fromDate.empty)0000-00-00#{else}$fromDate#end")

## Search filters
#set($categoryFilter = "category = :category")
#set($maxRentFilter = "and rent <= :maxRent")
#set($minWidthFilter = "#if(!$minWidth.empty)and width >= :minWidth#end")
#set($minHeightFilter = "#if(!$minHeight.empty)and height >= :minHeight#end")
#set($minDepthFilter = "#if(!$minDepth.empty)and #depth >= :minDepth#end")
#set($isSharedFilter = "#if(!$isShared.empty)and isShared = :isShared#end")
#set($fromDateFilter = "#if(!$fromDate.empty)and availability.#from <= :fromDate#end")
#set($toDateFilter = "#if(!$toDate.empty)and availability.#to >= :toDate#end")

{

    "TableName": "ListingsTable",
    "IndexName": "ListingCategoryIndex",

    "KeyConditionExpression": "$categoryFilter $maxRentFilter",

    "FilterExpression": "locationId = :locationId $minWidthFilter $minHeightFilter $minDepthFilter $isSharedFilter $fromDateFilter $toDateFilter",

    "ExpressionAttributeValues": {

        ":locationId": {
            "S": "$locationId"
        },
        ":category": {
            "S": "$category"
        },
        ":maxRent": {
            "N": "$maxRent"
        }

        #if(!$minWidth.empty)
        ,":minWidth": {
            "N": "$minWidth"
        }
        #end

        #if(!$minHeight.empty)
        ,":minHeight": {
            "N": "$minHeight"
        }
        #end

        #if(!$minDepth.empty)
        ,":minDepth": {
            "N": "$minDepth"
        }
        #end

        #if(!$isShared.empty)
        ,":isShared": {
            "BOOL": "$isShared"
        }
        #end

        ,":fromDate": {
            "S": "$fromDate"
        }
        ,":toDate": {
            "S": "$toDate"
        }

    },

    ## This mapping is required since 'depth' is a reserved keyword
    "ExpressionAttributeNames": {
        #if(!$minDepth.empty)
            "#depth": "depth",
        #end
        "#to": "to",
        "#from": "from"
    },

    "Limit": 1000

}
